{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{title}}
    </title>

    <!-- CSS -->
    {% include 'partials/styles.html' %}

    {% block styles %}
    {% endblock %}
</head>

<body>
    <nav class="nav justify-content-center p-5">
        <a class="nav-link active btn btn-lg btn-light" href="{% url 'admin:index' %}">Admin</a>
        <a class="nav-link btn btn-lg btn-light" href="{% url 'team_index' %}">Team Tournaments</a>
        <a class="nav-link  btn btn-lg btn-light" href="{% url 'index' %}">Single Tournaments</a>
      </nav>
      <h3><b>Fixture Sports </b></h3>
    <div class="top-content">
        <div class="inner-bg">
            {% block breadcrumbs %}
            {% endblock %}
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

<!-- JS -->
{% include 'partials/scripts.html' %}

{% block scripts %}
{% endblock %}

</html>